# Install python 3.7 first with pip then install requirements.txt
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
opencv-python==4.6.0.66
matplotlib==3.5.3
numpy==1.21.6
notebook==6.4.12
jupyter-lab==3.4.8

